html, body {
  /**/
  height: 100%;
  font-family: sans-serif;
  background-color:white;
  margin: 0;
}
.wrapper {
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
footer {
  height: 40px;
  width: 100%;
  min-width: 350px;
  padding: 3px 20px;
  background: #344269;
  color: white;
}
.footer,
.push {
  height: 50px;
}
.footer{
  margin-top: 50px;
}
.footer-text{
  text-align: center;
}

h1, h2{
  font-size: 130%;
}
p {
  font-size: 100%;
}

.normalPanel{
  /*
  margin: 1em auto;
  font-size: 100%;
  */
  margin: 40px auto;
  background-color: rgb(182, 225, 243);
  padding: 20px;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
  text-align:center;
  max-height: 1000px;
  min-height: 100px;
  max-width: 700px;
  min-width: 350px;
}

.rText{
  font-size: 130%;
}

/***** NAVIGATION ******/
* {
  box-sizing: border-box;
}

.nav {
  height: 65px;
  width: 100%;
  min-width: 350px;
  background-color: #8880f3;
  position: relative;
}
/*
*/
.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 24px;
  color: #fff;
  padding: 20px 20px 20px 20px;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 25px 10px 20px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color:#344269;
}

@media screen and (max-width: 700px) {
  .nav {
    height: 120px;
  }
  .nav > .nav-header > .nav-title {
  }
  .nav > .nav-links {
  }
}
@media screen and (max-width: 570px) {
  .nav {
    height: 190px;
  }
  .nav > .nav-header > .nav-title {
  }
  .nav > .nav-links {
  }
}

/*Form Elements*/
form {
  margin: -5px;
  padding: 10px;
}
input {
  /*
  width: 100%;
  */
  border: 0;
  border-bottom: 2px solid #D3D8DC;
  outline: 0;
  background: #fff;
  padding: 10px 0 10px;
  margin: 5px 0 5px;
  color: #777B7E;
}
input:focus {
  border-color: rgb(218, 10, 10);
  color: #2C3238;
}

.submit {
  /* Same info as button */
}

button{
  width: 100%;
  padding: 10;
  margin: 10px;
  background-color: rgb(188, 188, 235);
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  border-radius: 5em;
  border-color: darkblue;
  border-width: medium;
  transition: .30s linear;
  /*
  box-shadow: 0 0 20px 1px;
  text-decoration: none;
  */
}
button:hover {
  opacity: 1;
}
button.small {
  padding: 1em 0.5em;
  margin: 0 auto;
  text-align: center;
}

/*Notifications*/
.notification {
  text-align: center;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
}
.success {
  background: #70DA8B;
  color: #4DA463;
}
.error {
  background: #FFE6B2;
  color: #C5A14E;
  margin-bottom: 20px;
}
