{% from 'macros.html' import render_field %}

{% extends "layout.html" %}
{% block content %}

<div class="normalPanel">
    <h1>Your statistics</h1>
    <table style="width:100%">
        <tr>
            <th></th>
            <th>Last 7 days</th> 
            <th>Previous 7 days</th>
            <th>Last 30 days</th> 
            <th>Previous 30 days</th>
        </tr>
        <tr>
            <td><b>Deficit</b></td>
            <td>{{ statistics_data.get('c_d_7') }}</td>
            <td>{{ statistics_data.get('c_d_14') }}</td>
            <td>{{ statistics_data.get('c_d_30') }}</td>
            <td>{{ statistics_data.get('c_d_60') }}</td>   
        </tr>
        <tr>
            <td><b>Calorie balance</b></td>
            <td>{{ statistics_data.get('c_b_7') }}</td>
            <td>{{ statistics_data.get('c_b_14') }}</td>
            <td>{{ statistics_data.get('c_b_30') }}</td>
            <td>{{ statistics_data.get('c_b_60') }}</td>
        </tr>
        <tr>
            <td><b>Average bodyweight</b></td>
            <td>{{ statistics_data.get('a_b_7') }}</td>
            <td>{{ statistics_data.get('a_b_14') }}</td>
            <td>{{ statistics_data.get('a_b_30') }}</td>
            <td>{{ statistics_data.get('a_b_60') }}</td>
        </tr>
    </table>
    <!--
    <p>Your surplus & deficit balance for the last 7 days is <b>***</b> compare to the previous 7 days is <b>***</b></p>
    <p>Your surplus & deficit balance for the last 30 days is <b>***</b> compare to the previous 30 days is <b>***</b></p>
    -->
</div>

<div class="normalPanel">
    <div id="chart-container">Your awesome chart will render here!</div>
</div>

<script>

const dataSource =  JSON.parse('{{ building_log_data|tojson }}');
  
  FusionCharts.ready(function() {
    var myChart = new FusionCharts({
      type: "msline",
      renderAt: "chart-container",
      width: "100%",
      height: "60%",
      dataFormat: "json",
      dataSource
    }).render();
  });
console.log(dataSource);
</script>

{% endblock %}
