{% from 'macros.html' import render_field %}

{% extends "layout.html" %}
{% block content %}

<div class="normalPanel">
    <h1>Your statistics</h1>
    <h2>7 days</h2>
    <p>Your <b>deficit</b> for the last 7 days is <b>{{ statistics_data.get('c_d_7') }}</b> compare to the previous 7 days is <b>{{ statistics_data.get('c_d_14') }}</b></p>
    <p>Your <b>calorie balance</b> for the last 7 days is <b>{{ statistics_data.get('c_b_7') }}</b> compare to the previous 7 days is <b>{{ statistics_data.get('c_b_14') }}</b></p>
    <p>Your <b>average bodyweight</b> for the last 7 days is <b>{{ statistics_data.get('a_b_7') }}</b> compare to the previous 7 days is <b>{{ statistics_data.get('a_b_14') }}</b></p>
    
    <h2>30 days</h2>
    <p>Your <b>deficit</b> for the last 30 days is <b>{{ statistics_data.get('c_d_30') }}</b> compare to the previous 30 days is <b>{{ statistics_data.get('c_d_60') }}</b></p>
    <p>Your <b>calorie balance</b> for the last 30 days is <b>{{ statistics_data.get('c_b_30') }}</b> compare to the previous 30 days is <b>{{ statistics_data.get('c_b_60') }}</b></p>
    <p>Your <b>average bodyweight</b> for the last 30 days is <b>{{ statistics_data.get('a_b_30') }}</b> compare to the previous 30 days is <b>{{ statistics_data.get('a_b_60') }}</b></p>

    <!--
    <p>Your surplus & deficit balance for the last 7 days is <b>***</b> compare to the previous 7 days is <b>***</b></p>
    <p>Your surplus & deficit balance for the last 30 days is <b>***</b> compare to the previous 30 days is <b>***</b></p>
    -->
</div>

{% endblock %}
