{% from 'macros.html' import render_field %}

{% extends "layout.html" %}
{% block content %}

<div class="normalPanel">
    <h1>Welcome 
    {% if current_user.is_authenticated %}
    {{ current_user.username }}
    {% endif %}
    </h1>
    <p class="rText">This app will help transform the way you interpert your fitness progress.</p>
    <!--<p class="rText">It no longer will be a game of guesses, this will be a game of science and facts!</p>-->
    {% if not current_user.is_authenticated %}
    <p class="rText">Please register a profile to utilize the whole app.</p>
    <a href="{{ url_for('register') }}"><button type="submit" class="submit" value="Submit">Register</button></a>
    {% endif %}    

</div>
{% if current_user.is_authenticated %}
<div class="normalPanel">
    <h1>How it works?</h1>
    <p class="rText">This app generates the daily goals using your parameters and your desired bodyweight loss per week. 
        You can also set the goals manually. 
        The goals are how many calories you need to consume and burn per day. 
        You will need to enter a log each day with the calories you burnt, consumed and your body weight. 
        The app will calculate the difference between the goals and the enteted data and will give you the balance.
        The balance will either increase or decrease, depending if you stick to the goals.
        Even if the balance goes negative, you still can make it up in the future and get back on track.
        I believe in the flexibility and the app will deliver the flexiblity in your weight loss.</p>
</div>
{% endif %}
{% if results != None %}
<div class="normalPanel">
    <h1>Here are the daily goals for you!</h1>
    <p>Burn {{ results.get("cal_minus_goal") }} calories and consume {{ results.get("cal_plus_goal") }} calories</p>
</div>
{% endif %}


{% if not current_user.is_authenticated %}
<div class="normalPanel">
    <p class="rText">If you dont want to create a profile, here is a simple calculator to generate the daily goals using Basal Metabolic Rate with your parameters.</p>

    <form method="POST" class="form" id="form12">
        {{ form.hidden_tag() }}

        {{ render_field(form.weight) }}
        {% for subfield in form.weight_measurement_preference %}
        <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
        {{ render_field(form.height) }}
        {% for subfield in form.height_measurement_preference %}
        <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
        {{ render_field(form.age) }}
        {% for subfield in form.gender %}
        <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
        <br>
        How much weight do you want to lose in a week?
        {{ render_field(form.bw_goal) }}
        {% for subfield in form.bw_goal_measurement_preference %}
        <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}


    </form>
    <button form="form12" type="submit" class="submit" value="Submit">Generate</button>
</div>
{% endif %}!

{% endblock %}