{% from 'macros.html' import render_field %}

{% extends "layout.html" %}
{% block content %}

<div class="normalPanel">
    <h1>Your goals</h1>
    <p>Consume <b>{{ current_user.calorie_plus_goal }}</b> and burn <b>{{ current_user.calorie_minus_goal }}</b> calories</p>
    <p>Consume <b>{{ current_user.protein_goal }}</b> grams of protein</p>
</div>
<div class="normalPanel">
    <p><b>Calorie reserve</b> is <b>{{ current_user.calorie_reserve }}</b>. It will decay 5% each day</p>
    <p><b>Protein reserve</b> is <b>{{ current_user.protein_reserve }}</b> grams. It will decay 20% each day</p>
    <p>Last time balance was counted is <b>{{ current_user.last_time_counted.strftime("%m-%d-%Y") }}</b></p>
</div>

<div class="normalPanel">  
    <p>It will also count all uncounted days leading up to yesterday</p>
    <a href="{{ url_for('count_yesterday') }}"><button type="submit" class="submit" value="Submit">Count Yesterday</button></a>
</div>
    
<div class="normalPanel">
    <p>FOR TESTING: you can set the last counted date below</p>
    <form method="POST" action="" class="form" id="form10">
        {{ form1.hidden_tag() }}
        {{ render_field(form1.last_counted_date) }}
    </form>
    <button form="form10" type="submit" class="submit" value="Submit">Set the Last Counted Date</button>
</div>

<div class="normalPanel">
    <h1>Set your goals manually</h1>
    <form method="POST" action="" class="form" id="form11">
        {{ form2.hidden_tag() }}
        {{ render_field(form2.calorie_plus_goal) }}
        {{ render_field(form2.calorie_minus_goal) }}
        {{ render_field(form2.calorie_reserve) }}
        {{ render_field(form2.protein_goal) }}
        {{ render_field(form2.protein_reserve) }}
    </form>
    <button form="form11" type="submit" class="submit" value="Submit">Set</button>
</div>

<div class="normalPanel">
    <h1>Generate goals</h1>
    <p>Enter how much weight in KG do you want to lose in a week</p>
    <form method="POST" action="" class="form" id="form12">
        {{ form3.hidden_tag() }}
        {{ render_field(form3.bw_goal) }}
    </form>
    <button form="form12" type="submit" class="submit" value="Submit">Generate</button>
</div>

{% endblock %}
