{% from 'macros.html' import render_field %}

{% extends "layout.html" %}
{% block content %}

    <div class="normalPanel">
            <p><b>Username:</b> {{ current_user.username }}</p>
            <p><b>Email:</b> {{ current_user.email }}</p>
            <p><b>Weight:</b> {{ current_user.weight_calculated() }}</p>
            <p><b>Height:</b> {{ current_user.height_calculated() }}</p>
            <p><b>Gender:</b> {{ current_user.gender }}</p>
            <p><b>Age:</b> {{ current_user.age_calculated() }}</p>
            <br>
            <button onclick="location.href = '/updatestats';" type="submit" class="submit" value="Submit">Update Stats</button>
            <button onclick="location.href = '/changepassword';" type="submit" class="submit" value="Submit">Change Password</button>
            <br>
    </div>

{% endblock %}
