{% from 'macros.html' import render_field %}

{% extends "layout.html" %}
{% block content %}

    <div class="normalPanel">
        <h1>Your stats</h1>
            <p><b>Username:</b> {{ current_user.username }}</p>
            <p><b>Email:</b> {{ current_user.email }}</p>
            <p><b>Weight:</b> {{ current_user.weight_calculated() }}</p>
            <p><b>Height:</b> {{ current_user.height_calculated() }}</p>
            <p><b>Gender:</b> {{ current_user.gender }}</p>
            <p><b>Age:</b> {{ current_user.age_calculated() }}</p>
            <br>
            <p><h3><b>Update your stats below.</b></h3></p>
            <form method="POST" action="" class="form" id="form5">
                {{ form.hidden_tag() }}
                <p>Enter weight in {{ current_user.weight_measurement_preference }}</p>
                {{ render_field(form.weight) }}
                <p>Enter height in {{ current_user.height_measurement_preference }}</p>
                {{ render_field(form.height) }}
                <p>Enter your birth date</p>
                {{ render_field(form.birth_date) }}

                {% for subfield in form.gender %}
                    {{ subfield }}
                    {{ subfield.label }}
                {% endfor %}
                <p><h3><b>Your units of measurement are {{ current_user.weight_measurement_preference }} 
                    and {{ current_user.height_measurement_preference }}. Change them below.</b></h3></p>
                
                {% for subfield in form.weight_measurement_preference %}
                    {{ subfield }}
                    {{ subfield.label }}
                {% endfor %}
                <br>
                {% for subfield in form.height_measurement_preference %}
                    {{ subfield }}
                    {{ subfield.label }}
                {% endfor %}
            </form>
            <button form="form5" type="submit" class="submit" value="Submit">Update</button>
            <button onclick="location.href = '/changepassword';" type="submit" class="submit" value="Submit">Change Password</button>
            <br>
    </div>

{% endblock %}
