{% from 'macros.html' import render_field %}

{% extends "layout.html" %}
{% block content %}

    <div class="normalPanel">
            <p><b>Username:</b> {{ current_user.username }}</p>
            <p><b>Email:</b> {{ current_user.email }}</p>
            <p><b>Weight:</b> {{ current_user.weight_calculated() }}</p>
            <p><b>Height:</b> {{ current_user.height_calculated() }}</p>
            <p><b>Gender:</b> {{ current_user.gender }}</p>
            <p><b>Age:</b> {{ current_user.age_calculated() }}</p>
            <br>
            <p><h3><b>Update your stats below.</b></h3></p>
            <form method="POST" action="" class="form" id="update_stats">
                {{ form_update_stats.hidden_tag() }}
                {{ render_field(form_update_stats.weight) }} {{ current_user.weight_measurement_preference }}
                {{ render_field(form_update_stats.height) }} {{ current_user.height_measurement_preference }}
                <br>
                <br>
                Birthdate
                {{ render_field(form_update_stats.birth_date) }}

                {% for subfield in form_update_stats.gender %}
                    {{ subfield }}
                    {{ subfield.label }}
                {% endfor %}
                <p><h3><b>Your units of measurement are {{ current_user.weight_measurement_preference }} 
                    and {{ current_user.height_measurement_preference }}. Change them below.</b></h3></p>
                
                {% for subfield in form_update_stats.weight_measurement_preference %}
                    {{ subfield }}
                    {{ subfield.label }}
                {% endfor %}
                <br>
                {% for subfield in form_update_stats.height_measurement_preference %}
                    {{ subfield }}
                    {{ subfield.label }}
                {% endfor %}
            </form>
            <button form="update_stats" type="submit" class="submit" value="Submit">Update</button>
            <br>
    </div>

{% endblock %}
